<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
                <img class="contactIMG" src="https://avatars1.githubusercontent.com/u/28573775?s=400&v=4" class="img-circle" alt="Reggie Brown">
                <h3>Reggie Brown</h3>
                <p class="text-muted">Testing, Handlebars, JavaScript</p>
                <a href="https://github.com/travelingdoodle" target="_blank">
                    <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                </a>
                <a href="https://www.linkedin.com/in/reggie-brown-36b8b065" target="_blank">
                    <i class="fa fa-4x fa-linkedin-square text-primary sr-icons"></i>
                </a>
                <a href="https://twitter.com/BrownTinMan" target="_blank">
                    <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box">
                <img class="contactIMG" src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t31.0-8/11289505_10206623175400523_674479789307399155_o.jpg?oh=ee867f1c53037eee6c29441a62a86bce&oe=5A7C831C"
                    class="img-circle" alt="Cody Burmeister">
                <h3>Cody Burmeister</h3>
                <p class="text-muted">JavaScript, Node.js, Express</p>
                <a href="https://github.com/cburmeister1" target="_blank">
                    <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                </a>
                <a href="https://www.linkedin.com/in/cburmeister" target="_blank">
                    <i class="fa fa-4x fa-linkedin-square text-primary sr-icons"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box" id="about">
                <img class="contactIMG" src="https://scontent.fmkc1-1.fna.fbcdn.net/v/t31.0-8/19264536_10211076549003336_7258709799413373925_o.jpg?oh=9811b09e9d6903c21dfc8d83a736cb99&oe=5A3C9922"
                    class="img-circle" alt="Megan ORoark">
                <h3>Megan O'Roark</h3>
                <p class="text-muted"> CSS, HTML and overall design.</p>
                <a href="https://github.com/msoroark" target="_blank">
                    <i class="fa fa-4x fa-github text-primary sr-icons"></i>
                </a>
                <a href="https://www.linkedin.com/in/megan-oroark/" target="_blank">
                    <i class="fa fa-4x fa-linkedin-square text-primary sr-icons"></i>
                </a>
                <a href="https://twitter.com/MegORoark" target="_blank">
                    <i class="fa fa-4x fa-twitter text-primary sr-icons"></i>
                </a>
            </div>
        </div>
        <div class="scroll-down">
            <h4 id="learn">Learn More</h4>
            <a class="btn js-scroll-trigger" href="#about">
                <i class="fa fa-angle-down fa-fw"></i>
            </a>
        </div>
    </div>
</div>