<!-- NEED TO UPDAT ROUTES / HBS / STYLING-->
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6">
          <h1 style="font-family: 'Permanent Marker', cursive; text-align: center; margin-bottom: 0px;">Welcome to Nuanced.info</h1>
          <h4 style="text-align: center; margin-bottom: 30px;">Register for your account below, <i>then jump right in!</i></h4>
            {{!-- Bootstrap Form --}}
            <form action="/register" method="POST" class="contact-form" id="contact-form">
                <div class="form-group">
                    <label for="name">{{posts.name}} <small>Username</small></label>
                    <input class="form-control"  type="text" name="username" placeholder="Enter your username here."></input>
                </div>
                <div class="form-group">
                    <label for="message">Password</label>
                    <input class="form-control"  type="password" name="password" placeholder="Enter your password here." rows="5"></input>
                </div>
              <button type="submit" class="btn btn-primary" id="edit-topic-button">SIGN UP</button>
              <input type="hidden" name="_next" value="//" />
                {{!-- Failure Form Submit --}}
                <div class="submit-fail" style="display:none;">There was an error when attempting to submit your form.
                <br>Email <a href="mailto:reggiebrown@gmail.com" title="Reggie's Email Address" alt="Reggie's Email Address">ReggieBrown@gmail.com</a> or try again later.</div>
                {{!-- Successful Form Submit --}}
                <div class="submit-success" style="display:none;">Thanks! I got your message and will follow-up shortly.</div>
            </form>
        </div>
        <div class="col-lg-3 col-md-3"></div>
    </div>
</div>